// label.range-slider.range-slider--light
  input(type="range" min="-10" max="30" value="23").range-slider__slider(data-type="light")
label.range-slider.range-slider--floor
  .circle-indicator
    svg(class="circle-indicator__diagram" width="220" height="220" data-percent="50" data-stroke-color="#55AB55" data-stroke-width="4")
      path.circle-indicator__inactive(fill-opacity="0" d="M "+220/2+", "+220/2+" m -"+96+", 0 a "+95+","+95+" 0 1,0 "+95*2+",0 a "+95+","+95+" 0 1,0 -"+95*2+",0" stroke="#333333" stroke-width="30" stroke-dasharray="1, 4" stroke-dashoffset="3" fill="none")
      path.circle-indicator__active(fill-opacity="0" d="M "+220/2+", "+220/2+" m -"+96+", 0 a "+95+","+95+" 0 1,0 "+95*2+",0 a "+95+","+95+" 0 1,0 -"+95*2+",0" stroke="#F5A623" stroke-width="30" stroke-dasharray="1, 4" stroke-dashoffset="3" fill="none")
    .circle-indicator__control-knob
      .circle-indicator__value +23
  input(type="range" min="-10" max="30" value="23").range-slider__slider(data-type="floor")