mixin brief-card(name, status,icon, short)
  li.brief-card(class=(icon ? 'brief-card--' + icon : '') + ' ' + (short ? 'brief-card--short' : ''))
    if name
      p.brief-card__name !{name}
    if status
      small.brief-card__status= status
    include ../popups/modal-content

mixin brief-cards-list-nav()
  .brief-cards-list-nav
    button.brief-cards-list-nav__item.brief-cards-list-nav__item-prev
    button.brief-cards-list-nav__item.brief-cards-list-nav__item-next
