mixin color-button-list-item(text, active, toggle, location)
  button.color-button-list__item(type="button" data-location=(location ? location : '') class=((active ? 'color-button-list__item--active' : '') + ' ' + (toggle ? 'color-button-list__item--toggle' : '')))= text