html
  width: 375px
  -webkit-text-size-adjust: none;
  
body
  @include regular-font
  color: $primary-color

button
  cursor: pointer
input, textarea 
  outline: none
.container
  &--border-bottom
    border-bottom: 1px solid #f0f0f0

    @media screen
      border: none

.wrapper
  margin: 0 auto
  padding: 0 40px
  max-width: 1286px

  @media screen
    padding: 0 20px

.body-wrapper
  transition: all .6s ease
  
  @media screen
    display: flex
    flex-direction: column
    justify-content: space-between
  
.content-blur
  filter: blur(2px);

.modal-overlay
  position: fixed
  top: 0
  left: 0
  z-index: 1000
  display: none
  width: 100%
  height: 100%
  background: rgba(51,51,51,0.50)

  &--show
    display: block


.section-heading
  margin: 0
  margin-bottom: 18px
  @include bold-font
  font-weight: bold
  font-size: 18px;
  color: $primary-color;

.heading-block-wrapper
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 20px

  .section-heading
    margin-bottom: 0

.section-heading + .color-button-list
  margin: 0 auto 0 13px

::selection
  color: $white
  background: $medium-color

.tns-ovh
  overflow: visible !important