body
  @include regular-font
  color: $primary-color

.container
  &--border-bottom
    border-bottom: 1px solid #f0f0f0
.wrapper
  margin: 0 auto
  padding: 0 40px
  max-width: 1286px

.section-heading
  margin: 0
  margin-bottom: 18px
  @include bold-font
  font-weight: bold
  font-size: 18px;
  color: $primary-color;