.main-content
  padding-top: 30px
  height: calc(100vh - (#{$page-header-height + $page-footer-height}))
  min-height: 598px
  box-sizing: border-box

  @media screen
    height: auto
    padding-top: 0

  & .main-thing .section-heading
    display: none

  &__layout
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: auto
    grid-column-gap: 26px
    grid-row-gap: 28px
    grid-template-areas: "main-thing favorite-scenarios" "favorite-devices favorite-devices"

    @media screen
      grid-template-columns: 335px
      grid-template-rows: auto
      grid-column-gap: 0
      grid-row-gap: 30px
      grid-template-areas: "main-thing" "favorite-scenarios" "favorite-devices"
      padding-bottom: 64px

@import 'main-content/main-thing'
@import 'main-content/favorite-scenarios'
@import 'main-content/favorite-devices'