.modals-container
  section.modals-container__group#modals-container__main-info
  section.modals-container__group#modals-container__favorite-scenarios
  section.modals-container__group#modals-container__favorite-devices
    //  include modal-content