mixin color-button-list-item(text, active, toggle)
  button.color-button-list__item(type="button" class=((active ? 'color-button-list__item--active' : '') + ' ' + (toggle ? 'color-button-list__item--toggle' : '')))= text