header.page-header
  nav.page-header__nav
    a.page-header__nav-logo(href="#")
      img(src="/assets/Яндекс Дом.svg")
    ul.page-header__nav-list-container
      each val in ['Сводка', 'Устройства', 'Сценарии']
        li
          a(rel="nofollow" href="#")= val