doctype html
html
  head
    title Example
  body
    .body-wrapper

      include pug/page-header
      include pug/main-content
      include pug/page-footer

    .modal-overlay.modal-overlay--show
    include pug/popups/modals-container
