include brief-card
include ../color-button-list-item

- var cards = [
-  {name: 'Xiaomi Yeelight LED Smart Bulb', status: 'Включено', icon: 'light'},
-  {name: 'D-Link Omna 180 Cam', status: 'Включится в 17:00', icon: 'light-disabled'},
-  {name: 'Elgato Eve Degree Connected', status: 'Выключено до 17:00', icon: 'temperature-disabled'},
-  {name: 'LIFX Mini Day & Dusk A60 E27', status: 'Включится в 17:00', icon: 'light-disabled'},
-  {name: 'Xiaomi Mi Air Purifier 2S', status: 'Включено', icon: 'light'},
-  {name: 'Philips Zhirui', status: 'Выключено', icon: 'light-disabled'},
-  {name: 'Xiaomi Mi Air Purifier 2S', status: 'Включено', icon: 'light'},
- ]

- var colorButtons = [
-  {text: 'Все'},
-  {text: 'Кухня'},
-  {text: 'Зал'},
-  {text: 'Лампочки'},
-  {text: 'Камеры'}
- ]

section.favorite-devices#favorite-devices
  .heading-block-wrapper
    h2.section-heading Избранные устройства
    .color-button-list
      +color-button-list-item(colorButtons[0].text, true, true)
      .color-button-list-wrapper
        - var i = 1
        while i < colorButtons.length
          +color-button-list-item(colorButtons[i++].text, false, false)
        
    +brief-cards-list-nav()
  ul.favorite-devices__devices-list.slider#favorite-devices__devices-list
    // each card in cards
        +brief-card(card.name, card.status, card.icon)