include brief-card

- var cards = [
-  {name: 'Philips Cooler', status: 'Начнет охлаждать в 16:30', icon: 'temperature-disabled'},
-  {name: 'Xiaomi Yeelight LED Smart Bulb', status: 'Включится в 17:00', icon: 'light-disabled'},
-  {}
-  ]

.main-info
  section.main-info__summary
    big.main-info__greeting Привет, Геннадий!
    small.main-info__status Двери и окна закрыты, сигнализация включена.

    include temperature-info

  section.main-info__brief-cards
    button#brief-cards-next.main-info__brief-cards-next(type="button")
    ul.main-info__brief-cards-list
      // each card in cards
        +brief-card(card.name, card.status, card.icon)