ul.temperature-info
  li.temperature-info__item
    p.temperature-info__location Дома
    b.temperature-info__value +23
  li.temperature-info__item.temperature-info__item--rainy
    p.temperature-info__location За окном
    b.temperature-info__value +19